{% extends 'baseNav.html.twig' %}
{% block body %}
<div>
    <form  action={{path("addpayment")}} method="POST">
    <h1>Ingreso de Pago de Residencia</h1>
    <h2>Monto</h2>
    <select name="mes" required>
        {% for i in meses|keys %}
            <option value="{{meses[i]['num']}}:{{meses[i]['anio']}}">{{meses[i]['mes']}}-{{meses[i]['anio']}}</option>
        {% endfor %}   
    </select>
    <br/>
    <select name="residencia" required>
        <option></option>
        {% for i in residences|keys %}
            <option value="{{residences[i]['residence_code']}}">Codigo: {{residences[i]['residence_code']}} Sector: {{residences[i]['sector']}}</option>
        {% endfor %}   
    </select>
        <br/>
        Monto:<input type="text" name="monto" value="1500" required readonly>
        <br/>
    <h2>Ingresar Pago</h2>
        Tipo de pago: <input type="text" name="type" min="3" maxlength="20" required><br/>	
        Banco: <input type="text" name="bank" min="2" maxlength="20"><br/>
        Voucher: <input type="text" name="voucher" min="3" maxlength="30" required><br/>
        Total: <input type="text" pattern="\d*(.\d{2})?" min="2" maxlenght="14" name="total" required><br/>
        Descripción: <input type="text" maxlenght="50" name="desc"><br/>
        <button type="submit">Ingresar Pago</button><br/>
        <button type="reset">Limpiar</button>
    </form>
</div>
{% endblock %}