{% extends 'base.html.twig' %}
{% block body %}
<div>
    <form action={{path('checkupdateresidence')}} method="POST">
        <h1 syte="color:blue;">AGREGAR RESIDENCIA</h1>
        <br/>
        Residence: <input type="number" min="1" maxlength="2147483647" name="idres" tabindex="1" required value={{code}}>
        <br/>
        Telefono: <input type="tel" name="tel" placeholder="8888 8888" 
        pattern="\d{4}-\d{4}|\d{8}|\d{4} \d{4}" min="8" maxlength="9" tabindex="2" required value={{telefono}}>
        <br/>
        Dirección: <input type="text" tabindex="3" maxlength="50" pattern=".{3,}" required name="addr" required value={{direccion}}>
        <br/>
        Sector:<input type="text" tabindex="4" maxlength="30" pattern=".{1,}" required name="sector" required value={{sector}}>
        <br/>
        Residente:
        <select name="residente" tabindex="5" >
             {% for item in residentes %}
                {% if item.id_resident == duenioid %}
                    <option value="{{ item.id_resident}}" selected="selected">{{ resident.resident_code}} - {{ resident.first_name}} {{ resident.last_name}}</option>
                {% else %}
                    <option value="{{ item.id_resident}}">{{ resident.resident_code}} - {{ resident.first_name}} {{ resident.last_name}}</option>
                {% endif %}
             {% endfor %}
        </select>
        <br/>
        <label style="color:red; font-weight:bold;">{{error}}</label>
        <button style="background-color:#4cAF50; color:white; padding:15px 32px; text-decoration:none;
        display:inline-block;font-size:15px;" tabindex="6">Editar</button>
        <br/>
  </form>
</div>
{% endblock %}