{% extends 'base.html.twig' %}
{% block body %}

<form form action={{path("checkupdate")}} method="post">
<div style="text-align: center">
	<input type="hidden" name="oldusername" value={{username}}>
	Usuario: <input type="text" name="newusername" tabindex="1" value={{name}}><br/>
	Email <input type="text" name="mail" tabindex="4" value={{mail}}> <br/>
	Reingrese Email: <input type="text" name="mailcheck" tabindex="5" value={{mail}}> <br/>
	Rol:
	<select name="role">
		{% if rol == "ROLE_ADMIN" %}
		<option value="ROLE_USER">Usuario</option>
		<option value="ROLE_ADMIN" selected="selected">Administrador</option>
		{% else %}
		<option value="ROLE_USER" selected="selected">Usuario</option>
		<option value="ROLE_ADMIN">Administrador</option>
		{% endif %}
	</select> <br/>
	{% if active %}
		<input type="checkbox" value="habilitado" name="habilitado" tabindex="7" checked> Habilitado <br>
	{% else %}
		<input type="checkbox" value="habilitado" name="habilitado" tabindex="7"> Habilitado <br>
	{% endif %}
	<button type="submit" tabindex="8">Guardar </button>
</div>
</form>
{% endblock %}