{% extends 'baseNav.html.twig' %}
{% block body %}
<!doctype html>
<div class = "container-fluid">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"> 
          <div class="mdl-card mdl-card--border mdl-shadow--16dp">
            <div class="row" id="contenedor">              
                <div class="col-md-4">
                        <div align="left">
                        <a class="mdl-navigation__link" href={{path("allresidences")}} >
                            <button class="mdl-button mdl-js-button mdl-button--primary">
                            <i class="material-icons">keyboard_arrow_left</i>
                            </button>
                        </a>
                        </div>     
                    <br></br>
                    
                    <br></br>
                        <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/house-icon.png" style="width:75%;">
                </div>   
                <div class="col-md-8">
                <form action={{path('checkupdateresidence')}} method="POST">
                            <p><strong> <h4>ACTUALIZAR RESIDENCIA</h4></strong></p>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >                    
                                <input type="hidden" name="original" value={{code}}>
                                <input class="mdl-textfield__input" type="number" min="1" maxlength="2147483647" name="idres" tabindex="1" required value={{code}} readonly>
                                <label class="mdl-textfield__label" for="user">Residencia</label>
                     </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input"  name="tel" placeholder="8888 8888" pattern="\d{4}-\d{4}|\d{8}|\d{4} \d{4}" min="8" maxlength="9" tabindex="2" required value={{telefono}}>
                                <label class="mdl-textfield__label" for="user">Telefono</label>
                     </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" tabindex="3" maxlength="50" pattern=".{3,}" required name="addr" required value={{direccion}} readonly>
                                <label class="mdl-textfield__label" for="user">Direccion</label>
                     </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select class="mdl-textfield__input" name="residente" tabindex="5" id="list" required name="sector" required value={{sector}} >
                        
                        <option value="1">Sector 1</option>
                        <option value="2">Sector 2</option>
                        <option value="3">Sector 3</option>
                        <option value="4">Sector 4</option>
                        
                    </select>    
                        <label class="mdl-textfield__label" for="residente">Sector</label>                                   
                    </div>

                    
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                   
                    <select class="mdl-textfield__input" name="residente" tabindex="5" id="list">
                         {% for item in residentes %}
                {% if item.id_resident == duenioid %}
                    <option value="{{ item.id_resident}}" selected="selected">{{ item.resident_code}} - {{ item.first_name}} {{ item.last_name}}</option>
                {% else %}
                    <option value="{{ item.id_resident}}">{{ item.resident_code}} - {{ item.first_name}} {{ item.last_name}}</option>
                {% endif %}
             {% endfor %}
                    </select>    
                        <label class="mdl-textfield__label" for="residente">Residente</label>
                    </div> 


                    <br></br>
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">Guardar </button>
					<br></br>
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="reset">Limpiar </button>
						
					<label style="color:red">{{error}}</label>
                </div>
                </form>           
            </div>
          </div>
    </div>
    <div class="col-md-1"></div>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
body {
    background: #F5F5F5;
}

.mdl-card{  
    text-align: center;   
	padding:5%;   
    width: 100%;
    top:5%;  
    height:auto;
}

.mdl-textfield{
	width: 100%;
}

#edit{
    width:auto;
}

.mdl-button.mdl-button--colored {
	width: 100%;
}

.mdl-button.mdl-button--accent {
	width: 100%;
}

.mdl-button.mdl-button--accent:hover{
	background-color: #F8BBD0;
	color:#212121;
}

.mdl-button.mdl-button--colored:hover{
	background-color: #B2DFDB;
	color:#212121;
}
</style>
{% endblock %}

{% block javascripts %}
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("list");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
{% endblock %}