{% extends 'base.html.twig' %}

{% block body %}
<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
             <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                <div class="mdl-layout-spacer"></div>
                  <nav class="mdl-navigation mdl-layout--large-screen-only">
                      <a class="mdl-navigation__link" href={{path("dashboard")}} href="dashboard">Home</a>
                      <a class="mdl-navigation__link" href={{path("logout")}} href="/">Salir</a>
                  </nav>  
                </div>
              </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><strong>Hacienda Real</strong></span>   
    <div class="avatarusuario" align="center"> 
          {% if role == "ROLE_ADMIN" %}
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXyeS11Jc0Lsjvjq-c0QUUViv9fehU--5jJ2jAdBrHQPVvVg8jIQ" class="avatar">
          {% endif %}
          {% if role == "ROLE_USER" %}
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmPMIRDYuNJlAKIX73Or3evfjKCHhcAzBOUkM5wSCLE4Y8vb9h3Q" class="avatar">
          {% endif %}
    <p><strong> {{username}} </strong></p>
    </div>
          
          

    <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>&nbsp; &nbsp; Panel de Inicio</a>
          {% if role == "ROLE_ADMIN" %}            
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>&nbsp; &nbsp;Gestion Usuarios</a>
            {% endif %}          
                <a href={{path("allusers")}} class="mdl-navigation__link" href="allusers"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>&nbsp; &nbsp;Gestion Residente</a>
                <a href={{path("adduser")}} class="mdl-navigation__link" href="adduser"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>&nbsp; &nbsp;Gestion Residencia</a>
                <a href={{path("logout")}} class="mdl-navigation__link" href="login"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">highlight_off</i>&nbsp; &nbsp;Salir</a>              
     
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">    
    <div class="mdl-grid">
          <h1> BIENVENIDO </h1>
    </div>  
    </div>
  </main>
</div>
{% endblock %}




{% block stylesheets %}
<style>
 .avatar {
  width: 65px;
  height: 65px;
  border-radius: 25px;
}

</style>
{% endblock %}