{% extends 'baseNav.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="row">      
        <div class="col-md-1"></div>
        <div class="col-md-10">  
 <div class="mdl-card mdl-card--border mdl-shadow--16dp">
             
             <div >
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                <i class="material-icons">search</i> 
                </label>

                <div class="mdl-textfield__expandable-holder mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="search" onkeyup="myFunction()" placeholder="Buscar por DPI">
                <label class="mdl-textfield__label" for="search"></label>
                </div>  
                </div>

                
                 {% if approle == "ROLE_ADMIN" %}         
                        <a class="mdl-navigation__link" href={{path("addresident")}} href="/addresident" style="float: right; padding-top:2%;">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                            <i class="material-icons">person_add</i>
                            </button>
                        </a>  
                {% endif %}
            </div>

                 
               
                <table class="mdl-data-table mdl-js-data-table" id="myTable" cellspacing="0" height="auto" max-width="100%" width="100%">
                    <thead>
                        <tr>
                            <th>RESIDENCIAS</th>
                            <th>USUARIO</th>
                            <th>DPI</th>
                            <th>EMAIL</th>
                            <th>TELEFONO</th>
                            {% if approle == "ROLE_ADMIN" %}
                            <th>EDITAR</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                         {% for i in residentes|keys %}
                            <tr>
                                    <td> 
                                    <a href="/viewresidence">
                                    <button type="submit" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                            <i class="material-icons">home</i>
                                        </button>
                                    </a>
                                    </td>

                                    <td> {{ residentes[i]['first_name']}}  {{ residentes[i]['last_name']}} </td>
                                    <td> {{ residentes[i]['resident_code']}} </td>
                                    <td> {{ residentes[i]['email']}} </td>
                                    <td> {{ residentes[i]['phone']}} </td>
                                    {% if approle == "ROLE_ADMIN" %}
                                    <td> 
                                    <a href="{{ url('updateresident',{'code': residentes[i]['resident_code']}) }}">
                                    <button type="submit" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </a>
                                    </td>    
                                    {% endif %}                         
                            </tr>
                            {% endfor %}                        
                    </tbody>
                </table>
            </div>   
            </div> 
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}




{% block stylesheets %}
<style>
body {
    background: #F5F5F5;
}
.mdl-data-table{     
    table-layout: fixed;
    height:400px;
}

.mdl-data-table th {
    background-color: rgb(0,150,136);
    color: #ffffff;
    overflow: hidden;
    table-layout: fixed;
}

.mdl-data-table td {
   overflow: hidden;
    table-layout: fixed;
   
}
.mdl-card{       
    width: 100%;
    top:15%;  
    height:auto;
    overflow: auto;    
}

.mdl-button.mdl-button--accent:hover{
	background-color: #F8BBD0;
	color:#212121;
}
</style>
{% endblock %}

{% block javascripts %}
<script>
function myFunction() {
  var input, filter, table, tr, td, td1, i;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }   
  }
}
</script>
{% endblock %}