{% extends 'baseNav.html.twig' %}
{% block body %}
<!doctype html>
<div class = "container-fluid">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"> 
          <div class="mdl-card mdl-card--border mdl-shadow--16dp">
            <div class="row" id="contenedor">              
                <div class="col-md-12">  
                <div align="left">
                        <a class="mdl-navigation__link" href={{path("allresidents")}} href="/allresidents" >
                            <button class="mdl-button mdl-js-button mdl-button--primary">
                            <i class="material-icons">keyboard_arrow_left</i>
                            </button>
                        </a>
                    </div>            
                        <form action={{path("checkupdateresident")}} method="POST">
                            <p><strong> <h4>ACTUALIZAR VECINO</h4></strong></p>
                            <!--Div para User y Pass-->
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="firstname" value={{first}}>
                                <label class="mdl-textfield__label" for="firstname">Nombre Vecino</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="secondname" value={{second}}>
                                <label class="mdl-textfield__label" for="secondname">Apellido Vecino</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="hidden" name="oldDPI" value={{code}}>
                                <input class="mdl-textfield__input" type="tel" name="DPI" placeholder="1234 12345 1234" 
        pattern="\d{4} \d{5} \d{4}|\d{13}" min="13" maxlength="15" value={{code}}>
                                <label class="mdl-textfield__label" for="DPI">DPI</label>
                                <span class="mdl-textfield__error">Ingrese número de DPI</span>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="email" value={{mail}}>
                                <label class="mdl-textfield__label" for="email">Email</label>
                            </div>


                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="tel" name="phone" placeholder="8888 8888" 
        pattern="\d{4}-\d{4}|\d{8}|\d{4} \d{4}" min="8" maxlength="9" value={{phone}}>
                                <label class="mdl-textfield__label" for="phone">Telefono</label>
                                <span class="mdl-textfield__error">Ingrese número de telefono</span>
                            </div>
															
                            <br></br>
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">Guardar </button>
							<a href="{{ url('deleteresident',{'code': code}) }}">
                            <br></br>
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Eliminar </button>
							
                             <label style="color: red;font-weight: bold;">{{error}}</label>
 
                        </form>
                </div> 
                <!--Button
                <div class="col-md-6">
                     <img class="img" src="http://artshomeremodeling.com/wp-content/uploads/2015/03/to-build-a-home.jpg">              
                </div>  
                -->               
            </div>
          </div>
    </div>
    <div class="col-md-3"></div>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
body {
    background: #F5F5F5;
}

.mdl-card{  
    text-align: center;   
	padding:5%;   
    width: 100%;
    top:5%;  
    height:auto;
}

.mdl-button.mdl-button--colored {
	width: 100%;
}

.mdl-button.mdl-button--accent {
	width: 100%;
}

.mdl-button.mdl-button--accent:hover{
	background-color: #F8BBD0;
	color:#212121;
}

.mdl-button.mdl-button--colored:hover{
	background-color: #B2DFDB;
	color:#212121;
}

.mdl-textfield{
	width: 100%;
}

.img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

</style>
{% endblock %}
