{% extends 'baseNav.html.twig' %}
{% block body %}
<!doctype html>
<div class = "container-fluid">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"> 
          <div class="mdl-card mdl-card--border mdl-shadow--16dp">
            <div class="row" id="contenedor">              
                <div class="col-md-4">
                        <div align="left">
                        <a class="mdl-navigation__link" href={{path("showall")}} href="/showall" >
                            <button class="mdl-button mdl-js-button mdl-button--primary">
                            <i class="material-icons">keyboard_arrow_left</i>
                            </button>
                        </a>
                        </div>  
                        
                    <br></br>
                    
                    <br></br>
                        <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/house-icon.png" style="width:100%;">
                </div>   
                <div class="col-md-8">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="number" min="1" maxlength="2147483647" name="idres" tabindex="1" required>
                                <label class="mdl-textfield__label" for="user">Residencia</label>
                     </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="tel" name="tel" placeholder="8888 8888" pattern="\d{4}-\d{4}|\d{8}|\d{4} \d{4}" min="8" maxlength="9" tabindex="2" required>
                                <label class="mdl-textfield__label" for="user">Telefono</label>
                     </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" tabindex="3" maxlength="50" pattern=".{3,}" required name="addr" required>
                                <label class="mdl-textfield__label" for="user">Direccion</label>
                     </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" tabindex="4" maxlength="30" pattern=".{1,}" required name="sector" required>
                                <label class="mdl-textfield__label" for="user">Sector</label>
                     </div>

                    
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                    <a style="float: right;" onkeyup="myFunction()">
                                    <button type="submit" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" id="edit">
                                            <i class="material-icons">edit</i>
                                    </button>
                    </a>
                    <select class="mdl-textfield__input" name="residence" tabindex="5" disabled id="list">
                        {% for resident in residentes %}
                            <option value="{{ resident.id_resident | e }}" > {{ resident.resident_code | e }} - {{ resident.first_name | e }} {{ resident.last_name | e }} </option>
                        {% endfor %}
                    </select>    
                        <label class="mdl-textfield__label" for="residence">Residente</label>
                    </div> 


                    <br></br>
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">Guardar </button>
					<br></br>
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="reset">Limpiar </button>
						
					<label style="color:red">{{error}}</label>
                </div>           
            </div>
          </div>
    </div>
    <div class="col-md-1"></div>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
body {
    background: #F5F5F5;
}

.mdl-card{  
    text-align: center;   
	padding:5%;   
    width: 100%;
    top:5%;  
    height:auto;
}

.mdl-textfield{
	width: 100%;
}

#edit{
    width:auto;
}

.mdl-button.mdl-button--colored {
	width: 100%;
}

.mdl-button.mdl-button--accent {
	width: 100%;
}

.mdl-button.mdl-button--accent:hover{
	background-color: #F8BBD0;
	color:#212121;
}

.mdl-button.mdl-button--colored:hover{
	background-color: #B2DFDB;
	color:#212121;
}
</style>
{% endblock %}

{% block javascripts %}
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("list");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
